.container-fluid {
    padding-left: 12rem;
    padding-right: 12rem;
    background-color: #137C8B;
}

.navbar {
    color: azure;
    background-color: #137C8B;
    font-family: 'TitilliumL', sans-serif;
}

a {
    color: #f7f9fc;
}

a.active {
    text-decoration: underline;
    border: solid thin;
    border-color: #f7f9fc;
    border-radius: 5px;
}

