.container {
    margin-bottom: 4em;;
}

.container-fluid {
    color: azure;
    background-color: #137C8B;
}

.navbar {
    color: azure;
    background-color: #137C8B;
    font-family: 'TitilliumL', sans-serif;
}

a {
    color: #f7f9fc;
}