.container-fluid {
    padding-left: 12rem;
    padding-right: 12rem;
    background-color: #137C8B;
}

.navbar {
    margin: auto;
    color: azure;
    background-color: #137C8B;
    font-size: x-large;
    font-family: 'TitilliumL', sans-serif;
}

a {
    color: #f7f9fc;
}

a.active {
    text-decoration: underline;
    border: solid thin;
    border-color: #f7f9fc;
    border-radius: 5px;
}

@media (min-width: 185px) {
    body {
      font-size: 0.625rem; /* 16px */
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      color: azure; 
      background-color: #344D59;
      font-family: 'TitilliumL', sans-serif;
    
    }

    .headering {
        float: left;
        margin: 0;
    }

   
 
}

@media (max-width: 1080px) {
    .navbar-brand {
        display: none;
    }
}

.dropdown-menu {
    min-width: 50px;
    background-color: #137C8B;
}


.dropdown-menu>ul>li>a {
    width: 4rem;
}

.navbar-toggler {
    border: solid thin;
    color: #f7f9fc;
}

.navbar-toggler-icon {
   
    border-color: #f7f9fc;
    color: azure;
}
i {
    font-size: xx-large;
}
