<div class="container-fluid">
    <div class="text-center">
        <div class="row">
          <div class="col">
            <nav>
            <ul>
              <li><a routerLink="whoareus" routerLinkActive="active" i18n>Qui sommes nous ?</a></li>
              <li><a routerLink="thecharteogc" routerLinkActive="active"></a></li>
              
            </ul>
            </nav>
          </div>
          <div class="col">
            <nav>
            <ul>
              <li><a routerLink="theservice" routerLinkActive="active" i18n>Les services</a></li>
              <li><a routerLink="thetermsofusefromthesite" routerLinkActive="active"></a></li>
            </ul>
        </nav>
          </div>
          <div class="col">
            <nav>
            <ul>
             <!--  <li><a routerLink="helptousesite" routerLinkActive="active">Help to use site</a></li> -->
              <li><a routerLink="contact" routerLinkActive="active" i18n>Contactez-nous</a></li>
            </ul>
            </nav>
          </div>
        </div>
        <div class="footerDiv">
          <p i18n>&#64;Copyright 2024 EquiNetBlock.org created by bsoftcomputing.com</p>
        </div>
    </div>
</div>
