<div class="container">
    <h2 class="text-center" i18n>Qui sommes nous</h2>
<figure class="text-center">
    <p i18n>EquinetBlock est une organisation collaborative en plein développement, dédiée à la construction d’une blockchain décentralisée et équitable. Nous réunissons des passionnés, des développeurs, des experts en cryptographie, et des investisseurs autour d’un projet ambitieux : créer une infrastructure blockchain qui place l’équité, la sécurité et l’innovation au cœur de son fonctionnement.
Nous croyons en la force du collectif pour façonner un futur numérique où chaque contribution compte, et où chaque participant bénéficie d’un système transparent et partagé. Rejoignez-nous pour participer à cette aventure et contribuer à l’évolution de EquinetBlock.</p>
</figure>
</div>