.container {
    background-color: #344D59;
    width: max-content;
    
}

textarea {
    height: 10rem;
}

.btn {
    background-color: #137C8B;
    color: azure;
}

.btn:hover {
    background-color: azure;
    color: black;
    border-color:#7A90A4 ;
    border: dotted 1px;
}
