<div class="container-fluid text-center accordion" id="accordionConcept">
    <div class="cardDispo">
      <div class="card">
        <i class="bi bi-diagram-3-fill" alt="..."></i>
        <div class="card-body">
          <h5 class="card-title" i18n>Notre réseau,</h5>
          <p class="card-text" i18n>Decentralisation, stabilité, securité data, evolutivité, un ancrage pour une Blockchain...</p>
          <a data-bs-toggle="collapse" role="button" href="#multiCollapseNetwork" class="btn" aria-expanded="true" aria-controls="multiCollapseNetwork" (click)="scroolToSection()" i18n>Plus d'info...</a>
        </div>
      </div>
      <div class="card" >
        <i class="bi bi-graph-up-arrow" alt="..."></i>
        <div class="card-body">
          <h5 class="card-title" i18n>Evolution,</h5>
          <p class="card-text" i18n>Nous sommes la blockchain, et nous maintenont et evoluons avec...</p>
          <a data-bs-toggle="collapse" role="button" href="#multiCollapseEvolution" class="btn" aria-expanded="false" aria-controls="multiCollapseEvolution" (click)="scroolToSection()" i18n>Plus d'info...</a>
        </div>
      </div>
      <div class="card">
        <i class="bi bi-share-fill" alt="..."></i>
        <div class="card-body">
          <h5 class="card-title" i18n>Technique,</h5>
          <p class="card-text" i18n>Hardware, software spécifique, pour un réseau stable et bien partager...</p>
          <a data-bs-toggle="collapse" role="button" href="#multiCollapseTechnology" class="btn" aria-expanded="false" aria-controls="multiCollapseTechnology" (click)="scroolToSection()" i18n>Plus d'info...</a>
        </div>
      </div>
      <div class="card">
        <i class="bi bi-cash-coin" alt="..."></i>
        <div class="card-body">
          <h5 class="card-title" i18n>Capacité</h5>
          <p class="card-text" i18n>Proof of Work, proof of transactions, des retours possible pour chacuns...</p>
          <a data-bs-toggle="collapse" role="button" href="#multiCollapseCapacity" class="btn" aria-expanded="false" aria-controls="multiCollapseCapacity" (click)="scroolToSection()" i18n>Plus d'info...</a>
        </div>
      </div>
    </div>
    <div #infoSection class="container-fluid">
          <!-- Collapse Network -->
          <div class="collapse multi-collapse show" id="multiCollapseNetwork" data-bs-parent="#accordionConcept">
              <app-network></app-network>
          </div>
          <!-- Collapse Evolution -->
          <div class="collapse multi-collapse" id="multiCollapseEvolution" data-bs-parent="#accordionConcept">
              <app-evolution></app-evolution>
          </div>
          <!-- Collapse Technology -->
          <div class="collapse multi-collapse" id="multiCollapseTechnology" data-bs-parent="#accordionConcept">
            <app-technology></app-technology>
          </div>
          <!-- Collapse Capacity -->
          <div class="collapse multi-collapse" id="multiCollapseCapacity" data-bs-parent="#accordionConcept">
            <app-capacity></app-capacity>
          </div>
      
    </div>
</div>


