<div class="container-fluid text-center">
    <div class="cardDispo">
    <div class="card">
        <i class="bi bi-diagram-3-fill" alt="..."></i>
        <div class="card-body">
          <h5 class="card-title">Notre réseau,</h5>
          <p class="card-text">Decentralisation, stabilité, securité data, evolutivité, un ancrage pour une Blockchain...</p>
          <a routerLink="network" class="btn">Plus d'info...</a>
        </div>
      </div>
      <div class="card" >
        <i class="bi bi-graph-up-arrow" alt="..."></i>
        <div class="card-body">
          <h5 class="card-title">Evolution,</h5>
          <p class="card-text">Nous sommes la blockchain, et nous maintenont et evoluons avec...</p>
          <a routerLink="evolution" class="btn">Plus d'info...</a>
        </div>
      </div>
      <div class="card">
        <i class="bi bi-share-fill" alt="..."></i>
        <div class="card-body">
          <h5 class="card-title">Technique,</h5>
          <p class="card-text">Hardware, software spécifique, pour un réseau stable et bien partager...</p>
          <a routerLink="technology" class="btn">Plus d'info...</a>
        </div>
      </div>
      <div class="card">
        <i class="bi bi-cash-coin" alt="..."></i>
        <div class="card-body">
          <h5 class="card-title">Capacité</h5>
          <p class="card-text">Proof of Work, proof of transactions, des retours possible pour chacuns...</p>
          <a routerLink="capacity" class="btn">Plus d'info...</a>
        </div>
      </div>
    </div>
  </div>
  
