.container {
   position: relative;
   background-color: #344D59;
   width: max-content;

}

.cardDispo {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.card {
   width: 18rem;
   color: azure;
   margin: 1rem;
   background-color: #48818f;
   border: solid thin;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

i {
   font-size: xx-large;
}

.btn {
   color: azure;
   background-color: #137C8B;
   border: solid thin;
}

a:hover {
   background-color:rgb(222, 235, 231);
   color: #042c3f;
   border: solid 1px;
   border-color: #344D59;
}
