<div class="container">
  <figure class="text-center">
    <h4 i18n><u>Fondement du Projet : Une Vision Ambitieuse et Collaborative</u></h4>
    <br>
    <p i18n>EquinetBlock est bien plus qu'une simple blockchain : c'est un projet ambitieux, conçu pour repousser les limites de la décentralisation et offrir une plateforme qui réunit des acteurs de tous horizons. Nous croyons fermement que l’avenir de la technologie blockchain repose sur la collaboration, et c’est avec cet esprit que nous lançons un appel à la communauté, aux développeurs, aux experts, et aux investisseurs pour nous rejoindre dans cette aventure.</p>
  </figure>
  <div class="timeline" >
    <div class="timeline-item">
      <div class="item-content">
        <div class="card">
            <h3 i18n>Phase 1 : <u>Conception</u></h3>
            <p i18n>Recherche de collaborateur et etudes du projet</p>
            <p i18n>Élaboration de l'architecture de la blockchain, choix du consensus, création des bases techniques.</p>
            <span>Q1 2024</span>
        </div>
      </div>
    </div>
  
    <div class="timeline-item">
        <div class="card">
            <h3 i18n>Phase 2 : <u>Développement Initial</u></h3>
            <p i18n>Développement des fonctionnalités principales et tests de la sécurité de la chaîne.</p>
            <span>Q2 2025</span>
        </div>
    </div>
    <div class="timeline-item">
        <div class="card">
            <h3 i18n>Phase 3 : <u>Lancement du Testnet</u></h3>
            <p i18n>Lancement de la version test du réseau pour valider les fonctionnalités.</p>
            <span>Q3 2026</span>
        </div>
    </div>
    <div class="timeline-item">
        <div class="card">
            <h3 i18n>Phase 4 : <u>Mainnet et Adoption</u></h3>
            <p i18n>Déploiement du réseau principal et promotion auprès des utilisateurs et investisseurs.</p>
            <span>Q4 2027</span>
        </div>
    </div>
  </div>


  <figure class="text-center">
    <h4 i18n><u>Une Ambition Partagée</u>...</h4>
    <br>
    <p></p>
  </figure>

  <figure class="text-center">
    <h4 i18n><u>Notre vision est claire</u>: créer une blockchain équitable, évolutive et sécurisée, capable de répondre aux besoins de demain.</h4> 
    <br>
    <h4 i18n>Pour concrétiser cette vision, nous avons besoin de l'expertise et de l'engagement de talents dans divers domaines :</h4>
    <br>
    <figure class="text-start">
      <p i18n><u>Cryptographie</u> : Des experts en sécurité pour renforcer nos protocoles et garantir la protection des données et des transactions.</p>
      <p i18n><u>Développement logiciel</u> : Des ingénieurs spécialisés dans des langages comme Rust pour créer une infrastructure stable et performante.</p> 
      <p i18n><u>Marketing et promotion</u> : Des professionnels capables de faire connaître EquinetBlock et d’attirer de nouveaux utilisateurs sur le réseau.</p>
      <p i18n><u>Utilisateurs et adoption</u> : Des pionniers prêts à adopter notre technologie, à l’utiliser pour leurs transactions et à contribuer à la validation des blocs.</p>
      <p i18n><u>Investissement et support financier</u> : Des investisseurs visionnaires prêts à soutenir l’évolution du projet et à accompagner sa croissance.</p>
    </figure>
    <br>
    <p i18n><u>Développement Collaboratif</u>:
      Nous croyons en un modèle de développement ouvert et transparent, où chaque contribution compte.
      <br>
      Dès le début, EquinetBlock s’est construit sur la base de contributions diverses, et nous souhaitons que cela continue.
      <br>
      Chaque collaborateur, chaque idée, chaque effort participe à l'amélioration de notre réseau. Nous encourageons les échanges, le partage d’idées et la mise en commun des ressources pour créer un écosystème où l’innovation est collective.</p>
  </figure>
  <br>
  <figure class="text-center">
    <h4 i18n><u>Un Projet au Cœur de l'Innovation</u></h4>
    <br>
    <p i18n>

      En tant que projet encore en plein développement, nous avons conscience de l’immense potentiel que recèle notre blockchain. Nous sommes à la recherche de talents motivés et d’esprits créatifs pour nous aider à surmonter les défis techniques et à propulser EquinetBlock vers de nouveaux sommets. Que vous soyez un développeur, un expert en cryptographie, un utilisateur passionné ou un investisseur audacieux, votre place est ici, avec nous, pour bâtir l’avenir de EquinetBlock ensemble.</p>
  </figure>
  <br>

  <figure class="text-center">
    <h4 i18n><u>Construire l'Avenir Ensemble</u></h4>
    <br>
    <p i18n>Rejoindre EquinetBlock, c’est participer à un projet où chaque voix compte, où l’innovation est guidée par la collaboration, et où les résultats sont partagés entre tous. Nous avons besoin de vous pour rendre cette vision possible et construire ensemble une blockchain qui sera à la fois sûre, performante et équitable pour l'ensemble de ses participants.</p>
  </figure>



  <p i18n>Si vous avez l’âme d’un pionnier et que vous souhaitez prendre part à cette aventure ambitieuse, nous vous invitons à rejoindre notre équipe et à contribuer à l’avenir de la blockchain, contactez-nous !</p>
    <div class="text-center">
      <button class="btn" [routerLink]="['/', currentLang, 'contact']" i18n>contactez-nous</button>
    </div>
</div>